In [2]:
import generate_markdown_table as gen
from generate_markdown_table import *

In [4]:
import sys

sys.stdout.write('State Capitals (source: Wikipedia)\n\n')

headings = ['State', 'Abrev.', 'Capital', 'Capital since', 'Population',
            'Largest Population?']

data = [('Alabama', 'AL', '1819', 'Montgomery', '1846', 155.4, False,
         205764),
        ('Alaska', 'AK', '1959', 'Juneau', '1906', 2716.7, False, 31275),
        ('Arizona', 'AZ', '1912', 'Phoenix', '1889',474.9, True, 1445632),
        ('Arkansas', 'AR', '1836', 'Little Rock', '1821', 116.2, True,
         193524)]

fields = [0, 1, 3, 4, 7, lambda rec: 'Yes' if rec[6] else 'No']

align = [('^', '<'), ('^', '^'), ('^', '<'), ('^', '^'), ('^', '>'),
         ('^','^')]

table(sys.stdout, data, fields, headings, align)

State Capitals (source: Wikipedia)

|  State   | Abrev. |   Capital   | Capital since | Population | Largest Population? |
| :------- | :----: | :---------- | :-----------: | ---------: | :-----------------: |
| Alabama  |   AL   | Montgomery  |     1846      |     205764 |         No          |
| Alaska   |   AK   | Juneau      |     1906      |      31275 |         No          |
| Arizona  |   AZ   | Phoenix     |     1889      |    1445632 |         Yes         |
| Arkansas |   AR   | Little Rock |     1821      |     193524 |         Yes         |

|  State   | Abrev. |   Capital   | Capital since | Population | Largest Population? |
| :------- | :----: | :---------- | :-----------: | ---------: | :-----------------: |
| Alabama  |   AL   | Montgomery  |     1846      |     205764 |         No          |
| Alaska   |   AK   | Juneau      |     1906      |      31275 |         No          |
| Arizona  |   AZ   | Phoenix     |     1889      |    1445632 |         Yes         |
| Arkansas |   AR   | Little Rock |     1821      |     193524 |         Yes         |

In [5]:
# 출처 : https://matplotlib.org/3.1.0/api/_as_gen/matplotlib.pyplot.plot.html

marker = "'.'	point marker\
','	pixel marker\
'o'	circle marker\
'v'	triangle_down marker\
'^'	triangle_up marker\
'<'	triangle_left marker\
'>'	triangle_right marker\
'1'	tri_down marker\
'2'	tri_up marker\
'3'	tri_left marker\
'4'	tri_right marker\
's'	square marker\
'p'	pentagon marker\
'*'	star marker\
'h'	hexagon1 marker\
'H'	hexagon2 marker\
'+'	plus marker\
'x'	x marker\
'D'	diamond marker\
'd'	thin_diamond marker\
'|'	vline marker\
'_'	hline marker"

lines = "'-'	solid line style\
'--'	dashed line style\
'-.'	dash-dot line style\
':'	dotted line style"

In [6]:
marker = {i.split('\t')[0] : i.split('\t')[1] + 'marker' for i in marker.split('marker')[:-1]}
lines = {i.split('\t')[0] : i.split('\t')[1] + 'style' for i in lines.split('style')[:-1]}

In [7]:
marker

{"'.'": 'point marker',
 "','": 'pixel marker',
 "'o'": 'circle marker',
 "'v'": 'triangle_down marker',
 "'^'": 'triangle_up marker',
 "'<'": 'triangle_left marker',
 "'>'": 'triangle_right marker',
 "'1'": 'tri_down marker',
 "'2'": 'tri_up marker',
 "'3'": 'tri_left marker',
 "'4'": 'tri_right marker',
 "'s'": 'square marker',
 "'p'": 'pentagon marker',
 "'*'": 'star marker',
 "'h'": 'hexagon1 marker',
 "'H'": 'hexagon2 marker',
 "'+'": 'plus marker',
 "'x'": 'x marker',
 "'D'": 'diamond marker',
 "'d'": 'thin_diamond marker',
 "'|'": 'vline marker',
 "'_'": 'hline marker'}

In [8]:
lines

{"'-'": 'solid line style',
 "'--'": 'dashed line style',
 "'-.'": 'dash-dot line style',
 "':'": 'dotted line style'}

In [9]:
m_data = [[0,0,0,0] for i in range(11)]
# len(marker) == 22 ; True
for ix, (character, description) in enumerate(marker.items()):
    m_data[ix % 11][0 + (ix // 11) * 2] = character
    m_data[ix % 11][1 + (ix // 11) * 2] = description

l_data = [[0,0,0,0] for i in range(2)]
# len(lines) == 4 ; True
for ix, (character, description) in enumerate(lines.items()):
    l_data[ix % 2][0 + (ix // 2) * 2] = character
    l_data[ix % 2][1 + (ix // 2) * 2] = description

In [10]:
m_data

[["'.'", 'point marker', "'s'", 'square marker'],
 ["','", 'pixel marker', "'p'", 'pentagon marker'],
 ["'o'", 'circle marker', "'*'", 'star marker'],
 ["'v'", 'triangle_down marker', "'h'", 'hexagon1 marker'],
 ["'^'", 'triangle_up marker', "'H'", 'hexagon2 marker'],
 ["'<'", 'triangle_left marker', "'+'", 'plus marker'],
 ["'>'", 'triangle_right marker', "'x'", 'x marker'],
 ["'1'", 'tri_down marker', "'D'", 'diamond marker'],
 ["'2'", 'tri_up marker', "'d'", 'thin_diamond marker'],
 ["'3'", 'tri_left marker', "'|'", 'vline marker'],
 ["'4'", 'tri_right marker', "'_'", 'hline marker']]

In [11]:
l_data

[["'-'", 'solid line style', "'-.'", 'dash-dot line style'],
 ["'--'", 'dashed line style', "':'", 'dotted line style']]

In [12]:
sys.stdout.write('get plot parameter table\n\n')

headings = ['character', 'description'] * 2

fields = [0, 1, 2, 3]

align = [('^', '<'), ('^', '^'), ('^', '<'), ('^', '^'), ('^', '>'),
         ('^','^')]

table(sys.stdout, m_data, fields, headings, align)
print()
table(sys.stdout, l_data, fields, headings, align)

get plot parameter table

| character |      description      | character |     description     |
| :-------- | :-------------------: | :-------- | :-----------------: |
| '.'       |     point marker      | 's'       |    square marker    |
| ','       |     pixel marker      | 'p'       |   pentagon marker   |
| 'o'       |     circle marker     | '*'       |     star marker     |
| 'v'       | triangle_down marker  | 'h'       |   hexagon1 marker   |
| '^'       |  triangle_up marker   | 'H'       |   hexagon2 marker   |
| '<'       | triangle_left marker  | '+'       |     plus marker     |
| '>'       | triangle_right marker | 'x'       |      x marker       |
| '1'       |    tri_down marker    | 'D'       |   diamond marker    |
| '2'       |     tri_up marker     | 'd'       | thin_diamond marker |
| '3'       |    tri_left marker    | '|'       |    vline marker     |
| '4'       |   tri_right marker    | '_'       |    hline marker     |

| character |    description    | character |     description     |
| :-------- | :---------------: | :-------- | :-----------------: |
| '-'       | solid line style  | '-.'      | dash-dot line style |
| '--'      | dashed line style | ':'       |  dotted line style  |